{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="main white container">

<div class="row">

<div class="col-md-4">
	<h2>{{ 'search.setbrowse' | trans }}</h2>
	{{ allsets | raw }}
</div>

<div class="col-md-8">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>{{ 'search.nametexts' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">{{ 'card.info.name' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">{{ 'card.info.text' | trans }}</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">{{ 'card.info.flavor' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'card.info.faction' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			{% for faction in factions %}
				<label class="btn btn-default active" title="{{ faction.name }}" data-toggle="tooltip" data-container="body">
					<input type="checkbox" name="f[]" checked value="{{ faction.code }}">
					<span class="icon icon-{{ faction.code }}"></span>{{ faction.name }}
				</label>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.attributes' | trans }}</legend>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="t">{{ 'card.info.type' | trans }}</label>
			<div>
				<select class="form-control" name="t" id="t">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for type in types %}
					<option value="{{ type.code }}">{{ type.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
        <div class="form-group">
			<label for="b">{{ 'card.info.subtype' | trans }}</label>
			<div>
				<select class="form-control" name="b" id="b">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for subtype in subtypes %}
					<option value="{{ subtype.code }}">{{ subtype.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="k">{{ 'card.info.traits' | trans }}</label>
			<div>
				<select class="form-control" name="k" id="k">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for trait in traits %}
					<option value="{{ trait }}">{{ trait }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="z">{{ 'card.info.slots.title' | trans}}</label>
			<div>
				<select class="form-control" name="z" id="z">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="hand">{{ 'card.info.slots.onehanded' | trans }}</option>
					<option value="hand x2">{{ 'card.info.slots.twohanded' | trans }}</option>
					<option value="accessory">{{ 'card.info.slots.accesory' | trans }}</option>
					<option value="ally">{{ 'card.info.slots.ally' | trans }}</option>
					<option value="arcane">{{ 'card.info.slots.arcane1' | trans }}</option>
					<option value="arcane x2">{{ 'card.info.slots.arcane2' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="e">{{ 'card.info.set' | trans }}</label>
			<div>
				<select class="form-control" name="e" id="e">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for pack in packs %}
					<option value="{{ pack.code }}">{{ pack.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="u">{{ 'card.info.unique' | trans }}</label>
			<div>
				<select class="form-control" name="u" id="u">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
</div>

</fieldset>
<fieldset>
<legend>{{ 'search.numerics' | trans }}</legend>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
			<label for="o">{{ 'card.info.cost' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="o" name="o" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>

		<div class="col-sm-3">
			<div class="form-group">
				<label for="p">{{ 'card.info.xp' | trans }}</label>
				<div class="row">
					<div class="col-xs-5">
						<select name="po" id="po" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
					</div>
					<div class="col-xs-7">
						<input id="p" name="p" value="" class="form-control">
					</div>
				</div>
			</div>
    </div>
    
    <div class="col-sm-3">
			<div class="form-group">
				<label for="j">{{ 'card.info.victory' | trans }}</label>
				<div class="row">
					<div class="col-xs-5">
						<select name="jo" id="jo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
					</div>
					<div class="col-xs-7">
						<input id="j" name="j" value="" class="form-control">
					</div>
				</div>
			</div>
    </div>
    
    <div class="col-sm-3">
        <div class="form-group">
			<label for="y">{{ 'card.info.quantity' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="y" name="y" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>

<div class="row">
		<div class="col-sm-3">
        <div class="form-group">
			<label for="w"><span class="icon-willpower"></span> {{ 'card.info.willpower' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="wo" id="wo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="w" name="w" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
			<label for="s"><span class="icon-combat"></span> {{ 'card.info.combat' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="co" id="co" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="c" name="c" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
		<div class="col-sm-3">
        <div class="form-group">
			<label for="l"><span class="icon-intellect"></span> {{ 'card.info.intellect' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="io" id="io" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="i" name="i" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
			<label for="a"><span class="icon-agility"></span> {{ 'card.info.agility' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="ao" id="ao" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="a" name="a" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>

<div class="row">
		<div class="col-sm-3">
        <div class="form-group">
			<label for="w"><span class="icon-health"></span> {{ 'card.info.health' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="ho" id="ho" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="h" name="h" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
			<label for="s"><span class="icon-sanity"></span> {{ 'card.info.sanity' | trans }}</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="so" id="so" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="s" name="s" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
		
</div>

</fieldset>
<fieldset>
<legend>{{ 'search.other' | trans }}</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="i">{{ 'search.previews' | trans }}</label>
			<div>
				<select class="form-control" name="i" id="i"><option value="">{{ 'search.any' | trans }}</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.submit' | trans }}</legend>
<div class="row">
    <div class="form-group">
       {% include 'AppBundle:Search:searchoptions.html.twig' %}
       <div class="col-sm-3">
	      <button class="btn btn-primary" type="submit">{{ 'forms.search' | trans }}</button>
       </div>
    </div>
</div>
</fieldset>
</form>


</div>

</div>

</div>
{% endblock %}
